@font-face {
	font-family: 'Satoshi';
	font-weight: 400;
	font-style: normal;
	src: url('Satoshi-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Satoshi-Regular.woff2') format('woff2'),
		url('../fonts/Satoshi-Regular.woff') format('woff'),
		url('../fonts/Satoshi-Regular.ttf') format('truetype');
}
